.bg-landing {
  background-image: url("assets/images/bg.png");
}
.container-fluid {
  margin-top: 9em;
  height: 38em;
}
.scooter {
  margin: 0;
  height: 5em;
  width: 100%;
}
.scooter-jump {
  position: relative;
  background-size: contain;
  background-repeat: no-repeat;
  animation-name: up-down;
  animation-direction: alternate;
  animation-duration: 0.5s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  z-index: 2;
  padding-top: 50px;
}

@keyframes up-down {
  from {
    /* transform:translate(0,0px); */
  }
  to {
    transform: translate(0, 10px);
  }
}

.road {
  width: 100%;
  height: 200px;
  background-color: #585858;
  border-top: 10px solid #756d6d;
  border-bottom: 20px solid #756d6d;
  position: absolute;
  /* bottom: 0%; */
  /* margin-left: -10px; */
  padding: 0;
  overflow: hidden;
}
.road::before {
  content: " ";
  position: relative;
  z-index: 0;
  top: -17px;
  left: 0px;
  right: 0px;
  border: 5px solid black;
  overflow: hidden;
}
.road-top-half {
  height: 15px;
  width: 250%;
  position: absolute;
  left: -10%;
  top: 40px;
  border-top: 30px dashed white;
  margin-top: 25px;
  animation: road-moving 10s infinite linear;
  /* transition: all 1s linear; */
  overflow: hidden;
}

@keyframes road-moving {
  100% {
    transform: translate(-2400px);
  }
}

#badal-1 {
  background-image: url("assets/images/cloud1.png");
  background-repeat: no-repeat;
  height: 300px;
  position: absolute;
  padding-top: 100px;
  left: 10%;
  animation-name: up-down;
  animation-direction: alternate;
  animation-duration: 0.5s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  margin-top: 2em;
}
#badal-2 {
  background-image: url("assets/images/cloud2.png");
  background-repeat: no-repeat;
  height: 300px;
  position: absolute;
  padding-top: 100px;
  right: 0;
  animation-name: up-down;
  animation-direction: alternate;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  margin-top: 2em;
}

#eventbody {
  background-image: url("assets/images/eventbackground.png");
}

#eventtitle {
  font-family: Lato;
  font-size: 48px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.2;
  letter-spacing: 0.34px;
  text-align: center;
  color: #6c63ff;
}

@import url(https://fonts.googleapis.com/css?family=Open+Sans);
* {
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
  color: #666;
}

/* STRUCTURE */
.wrapper {
  padding: 5px;
  max-width: 960px;
  width: 95%;
  margin: 20px auto;
}

header {
  padding: 0 15px;
}

.columns {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  margin: 45px 70px;
}

.column {
  flex: 1;
  margin: 2px;
  padding: 10px;
  text-align: center;
}
.column:first-child {
  margin-left: 0;
}
.column:last-child {
  margin-right: 0;
}

footer {
  padding: 0 15px;
}

@media screen and (max-width: 980px) {
  .columns .column {
    margin-bottom: 5px;
    flex-basis: 40%;
  }
  .columns .column:nth-last-child(2) {
    margin-right: 0;
  }
  .columns .column:last-child {
    flex-basis: 100%;
    margin: 0;
  }
}
@media screen and (max-width: 680px) {
  .columns .column {
    flex-basis: 100%;
    margin: 0 0 5px 0;
  }
}

#eventlogo {
  width: 341px;
  height: 341px;
}
